anyascii==0.3.3
asgiref==3.11.1
beautifulsoup4>=4.8.0,<4.13.0
certifi==2026.5.20
charset-normalizer==3.4.7
defusedxml==0.7.1
Django>=5.1,<5.2
django-environ==0.13.0
django-filter>=24.0,<25.0
django-modelcluster==6.5
django-permissionedforms==0.1
django-redis==6.0.0
django-stubs-ext
django-taggit>=4.0,<5.1
django-tasks
django-treebeard>=4.7,<5.1
djangorestframework==3.17.1
draftjs_exporter==5.2.0
et_xmlfile==2.0.0
filetype==1.2.0
gunicorn==26.0.0
idna==3.17
laces==0.1.2
modelsearch==1.3.1
mysqlclient==2.2.8
openpyxl==3.1.5
packaging==26.2
pillow>=9.1.0,<11.0.0
redis==8.0.0
requests==2.34.2
soupsieve==2.8.4
sqlparse==0.5.5
telepath==0.3.1
typing_extensions==4.15.0
urllib3==2.7.0
wagtail>=6.1,<6.2
whitenoise==6.12.0
Willow==1.12.0
